<a href="https://colab.research.google.com/github/dathung1235/Project/blob/main/DATA_WRANGLING_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

#load file
sales = pd.read_csv('/content/drive/MyDrive/COLAB/sales.csv')
prices = pd.read_csv('/content/drive/MyDrive/COLAB/prices.csv')

In [5]:
sales['ordered_at'] = pd.to_datetime(sales['ordered_at'])
prices['updated_at'] = pd.to_datetime(prices['updated_at'])

In [6]:
sales = sales.sort_values(by='ordered_at')
sales

     product_id          ordered_at  quantity_ordered
86      3954203 2018-09-11 01:43:00                 1
28      4085861 2018-09-11 06:26:00                 1
26      4085861 2018-09-11 06:53:00                 1
27      4085861 2018-09-11 08:24:00                 1
123     4085861 2018-09-11 09:30:00                 1
..          ...                 ...               ...
67      4085861 2018-09-18 20:23:00                 1
77      4085861 2018-09-18 20:43:00                 1
79      4085861 2018-09-18 20:54:00                 1
87      3954203 2018-09-18 21:26:00                 1
11      3998909 2018-09-18 22:11:00                 1

[175 rows x 3 columns]

In [7]:
prices = prices.sort_values(by='updated_at')
prices

    product_id  old_price  new_price          updated_at
4      3954203      68800      60000 2018-09-10 16:32:00
7      3998909      19000      17000 2018-09-10 16:35:00
0           64     270000     239000 2018-09-10 16:37:00
11     4085861      60000      53500 2018-09-11 08:51:00
1      3954203      60000      64000 2018-09-11 11:54:00
9      4085861      53500      67000 2018-09-12 03:51:00
6      3998909      17000      15500 2018-09-13 06:43:00
13     4085861      67000      62500 2018-09-13 06:43:00
3      3954203      64000      60500 2018-09-15 03:49:00
12     4085861      62500      58000 2018-09-15 03:51:00
5      3998909      15500      16500 2018-09-16 05:09:00
10     4085861      58000      53500 2018-09-17 03:35:00
2      3954203      60500      57500 2018-09-17 22:59:00
8      4085861      53500      52000 2018-09-17 22:59:00

In [13]:
merge_nearest = pd.merge_asof(sales, prices, left_on='ordered_at', right_on='updated_at', by='product_id', direction='nearest')
merge_nearest.head(10)

,product_id,ordered_at,quantity_ordered,old_price,new_price,updated_at
0,3954203,2018-09-11 01:43:00,1,68800,60000,2018-09-10 16:32:00
1,4085861,2018-09-11 06:26:00,1,60000,53500,2018-09-11 08:51:00
2,4085861,2018-09-11 06:53:00,1,60000,53500,2018-09-11 08:51:00
3,4085861,2018-09-11 08:24:00,1,60000,53500,2018-09-11 08:51:00
4,4085861,2018-09-11 09:30:00,1,60000,53500,2018-09-11 08:51:00
5,4085861,2018-09-11 11:06:00,1,60000,53500,2018-09-11 08:51:00
6,3954203,2018-09-11 11:11:00,1,60000,64000,2018-09-11 11:54:00
7,3954203,2018-09-11 11:11:00,1,60000,64000,2018-09-11 11:54:00
8,4085861,2018-09-11 11:34:00,1,60000,53500,2018-09-11 08:51:00
9,4085861,2018-09-11 11:47:00,2,60000,53500,2018-09-11 08:51:00

In [9]:
merge_nearest['listed_price'] = np.where(merge_nearest['ordered_at'] >= merge_nearest['updated_at'],
                                         merge_nearest['new_price'], merge_nearest['old_price'])
merge_nearest.head(10)

,product_id,ordered_at,quantity_ordered,old_price,new_price,updated_at,listed_price
0,3954203,2018-09-11 01:43:00,1,68800,60000,2018-09-10 16:32:00,60000
1,4085861,2018-09-11 06:26:00,1,60000,53500,2018-09-11 08:51:00,60000
2,4085861,2018-09-11 06:53:00,1,60000,53500,2018-09-11 08:51:00,60000
3,4085861,2018-09-11 08:24:00,1,60000,53500,2018-09-11 08:51:00,60000
4,4085861,2018-09-11 09:30:00,1,60000,53500,2018-09-11 08:51:00,53500
5,4085861,2018-09-11 11:06:00,1,60000,53500,2018-09-11 08:51:00,53500
6,3954203,2018-09-11 11:11:00,1,60000,64000,2018-09-11 11:54:00,60000
7,3954203,2018-09-11 11:11:00,1,60000,64000,2018-09-11 11:54:00,60000
8,4085861,2018-09-11 11:34:00,1,60000,53500,2018-09-11 08:51:00,53500
9,4085861,2018-09-11 11:47:00,2,60000,53500,2018-09-11 08:51:00,53500

In [10]:
merge_nearest['revenue'] = merge_nearest['quantity_ordered'] * merge_nearest['listed_price']
total_revenue_by_product_and_price = merge_nearest.groupby(['product_id', 'listed_price'], as_index=False)['revenue'].sum()
total_revenue_by_product_and_price

    product_id  listed_price  revenue
0           64        239000   956000
1      3954203         57500    57500
2      3954203         60000   180000
3      3954203         64000   640000
4      3998909         15500    15500
5      3998909         16500   231000
6      3998909         17000    34000
7      4085861         52000  1040000
8      4085861         53500  2140000
9      4085861         58000  2204000
10     4085861         60000   180000
11     4085861         62500  1812500
12     4085861         67000   871000

In [11]:
total_revenue = merge_nearest.groupby('product_id')['revenue'].sum()
total_revenue

product_id
64          956000
3954203     877500
3998909     280500
4085861    8247500
Name: revenue, dtype: int64